
.eco-gallery-item img{
	transition: all linear 0.5s;
}

.eco-gallery-item.ng-hide img{
  opacity: 0;
}

.eco-gallery {
  box-shadow: 0px 0px 15px #999;
}

.display-gallery-item {
	box-shadow: 0px 0px 15px #999;
}
