/**
* Past Editions - Imports.
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/**
* Past Editions - Tipografias.
*/
.epe-title {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
    line-height: 1.6em;
}

.epe-title span {
    font-weight: 100;
}

.epe-info {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Varela', sans-serif;*/
    text-align: justify;
    color: #444;
    line-height: 1.7em;
    text-align: justify;
}

/**
* Past Editions - Colores base.
*/
.epe-txt-color-1 {
    color: #4393f9;
}

/**
* Past Editions - Poster.
*/
.epe-brighten {
    background-position: center center !important;
    transition: transform 500ms ease;
    background-size: 100% auto;
    -webkit-filter: grayscale(85%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(85%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(85%);
    -o-transition: .5s ease-in-out;
    /* --- */
    -moz-transform: scale(1, 1) !important;
    -webkit-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.epe-brighten:hover {
    cursor: pointer;
    /* --- */
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    /* --- */
    -moz-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.epe-poster-container {
    position: absolute;
    bottom: 50%;
    width: 100%;
}

.epe-poster-container > .epe-poster-container-centered {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10em;
}

.epe-poster-container-centered.bg {
    background-color: rgba(255, 0, 0, 0.2);

    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}

.epe-poster-container:hover > .epe-poster-container-centered .bg {
    background: rgba(255, 0, 0, .7);
}

/**
* Past Editions - Logo de edición.
*/
img.epe-edlogo {
    transform: scale(0.75);
}

/**
* Past Editions - Horizontal rules styles.
*/
hr.epe-hr11 {
    height: 6px;
    background: url(http://ecofilmfestival.org/wp-content/uploads/2016/06/hr-11.png) repeat-x 0 0;
    border: 0;
    clear: both;
    padding-top: 50px;
    display: block;
}

.epe-list-group {
    margin-bottom: 20px;
    padding-left: 0;
}

.epe-list-group .list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.epe-list-group .list-group-item i {
    /*float*/
}

.epe-list-group a.list-group-item, button.list-group-item {
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    font-size: .9em;
}

.epe-list-group .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #efefef;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5
}

a.list-group-item.not-active {
    pointer-events: none;
    cursor: default;
    background-color: #f9f9f9;
    color: #b5b5b5;
}

.epe-jurados-nombre {
    font-family: 'Open Sans', sans-serif;
    padding-top: 1em;
    text-align: center;
    font-weight: 700;
    font-size: .8em;
}

.epe-jurados-nombre > span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
}

/**
* Past Editions - Jury list.
*/

.display-jury {
    padding: 10px;
}

.display-jury img {
    padding: 35px;
    margin: 0 auto;
}

.display-jury h1 {
    color: #a3a3a3;
    font-weight: 800;
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: center;
}

.display-jury p {
    color: #777777;
    text-align: center;
}

.display-jury-col:hover {
    cursor: pointer;
}

.display-jury-col > div > div > h1 {
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.display-jury-col:hover > div > div > h1 {
    color: #2ac4ea;
}

/**
* Past Editions - Custom classes.
*/

.text-center {
    text-align: center;
}
