
@import url(https://fonts.googleapis.com/css?family=Abel);


.ecof-title-1 > span { font-weight:100;}

.ecof-trans-brdr-2 {
    background: rgb(244, 82, 77)!important;
}


table.ecof15_table {
	border-top: 1px solid #24DFDC!important;
    font-family: 'Abel', sans-serif;
}

table.ecof15_table thead > tr {
    background-color: #24DFDC!important;
    color: #F8F8F8!important;
}

table.ecof15_table tbody > tr {	
    color: #585858!important;
}

table.ecof15_table th,
table.ecof15_table th > td,
table.ecof15_table tr,
table.ecof15_table tr > td {
	border: none!important;
}

table.ecof15_table tr > td {
    text-transform: uppercase;
}

table.ecof15_table tbody > tr:hover {
    background-color: #F4F4F4!important;
    cursor: pointer;
}

.ecof15_label {
    font-family: 'Abel', sans-serif;
    color: #737373;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ecof15_label > i {    
    color: #24DFDC!important;
}

.ecof_col.padding-3 { padding:3px; }
.ecof_col.padding-5 { padding:5px; }
.ecof_col.padding-10 { padding:10px; }
.ecof_col.padding-15 { padding:15px; }

.padding-bottom-0 { padding-bottom: 0px; }

.ecof_detail1 { font-family: 'Abel', sans-serif; }

.ecof_title1 {
    color: #FFFFFF;
    display: block;
	font-family: 'Abel', sans-serif;
    font-size: 2em;
    line-height: 1em;
}

.ecof_subtitle1 {
    color: #B4B4B4;
    display: block;
    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
}

.ecof_subtitle2 {
    color: #777777;
    display: block;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}

.ecof_subtitle3 {
    border-bottom: solid thin #24DFDC;
    background-color: #18283E;
    border-radius: .3em .3em 0 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Abel', sans-serif;
    font-size: 1.8em;
    line-height: 1em;
    padding: 15px 15px 15px 10px;
    text-align: center;
}

.ecof_subtitle4 {
    background-color: #18283E;
    border-radius: 0 0 .3em .3em;
    display: block;
    color: #24DFDC;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

.ecof_subtitle5 {
    color: #FFFFFF;
    background-color: #18283E;
    border-top: solid thin #24DFDC;
    display: block;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
    line-height: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
}

.ecof_subtitle6 {
    font-family: 'Abel', sans-serif;
    font-size: 1.8em;
    line-height: 1em;
    color: #FFFFFF;
    display: block;
    padding: 15px 15px 15px 10px;
    background-color: #341954;
    border-radius: .3em .3em 0 0;
    text-align: center;
    border-bottom: solid thin #24DFDC;
}

.ecof_subtitle7 {
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
    line-height: 1em;
    color: #FFFFFF;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #341954;
    text-align: center;
    border-top: solid thin #24DFDC;
}

.ecof_subtitle8 {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    color: #24DFDC;
    padding: 5px;
    background-color: #341954;
    display: block;
    text-align: center;
    border-radius: 0 0 .3em .3em;
}

.ecof_subtitle5 > span {    
    color: #777777;
}

.ecof_subtitle_label {
	font-family: 'Abel', sans-serif;
	color: #777777;
}    

.ecof15-title-1 {
    color: #F8F8F8;
    background-color: #18283E;
    display: inline;
    padding: 0 1em;
    margin-bottom: 1em!important;
    letter-spacing: -0.5px;
    font-weight: 900;
}

.ecof_short_still {
	width: 100%;
	height: 300px;	
    background-color: #F3F3F3;
}

.ecof_bg_color1 { background-color: #24DFDC; }

.ecof_icon_map {
    width: 30px!important; 
    margin-left: 20px!important;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.back-btn > i {
    background-color: turquoise!important;
}

.back-btn > i:hover {
    background-color: #43CDBF!important;
}