<div>
    <h1 class="epe-title text-center">GALERÍA</h1>
    <div ng-repeat="item in data track by $index" ng-switch="$index%4" on-last-repeat>
        <div class="col span_12 light left" ng-switch-when="0" style="margin: 5px;">
            <div class="vc_col-sm-3 wpb_column column_container col one-fourths clear-both">
                <div class="wpb_wrapper">
                    <div class="display-gallery-item">
                        <a ng-href="{{data[$index + 0].Image}}" rel="prettyPhoto">
                            <img ng-src="{{data[$index + 0].Image}}"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column column_container col one-fourths clear-both">
                <div class="wpb_wrapper">
                    <div class="display-gallery-item">
                        <a ng-href="{{data[$index + 1].Image}}" rel="prettyPhoto">
                            <img ng-src="{{data[$index + 1].Image}}"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column column_container col one-fourths clear-both">
                <div class="wpb_wrapper">
                    <div class="display-gallery-item">
                        <a ng-href="{{data[$index + 2].Image}}" rel="prettyPhoto">
                            <img ng-src="{{data[$index + 2].Image}}"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column column_container col one-fourths clear-both">
                <div class="wpb_wrapper">
                    <div class="display-gallery-item">
                        <a ng-href="{{data[$index + 3].Image}}" rel="prettyPhoto">
                            <img ng-src="{{data[$index + 3].Image}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>