<div class="epe-list-group">
    <div class="list-group-item centered-text" ng-if="data.Logotipo_ES">
        <img ng-src="{{data.Logotipo_ES}}" alt="Logotipo" class="centered-text epe-edlogo">
    </div>
    <div class="list-group-item">
        <div class="wpb_wrapper">
            <vd-edition-slider data="data.Galeria" timer="5000"></vd-edition-slider>
        </div>
    </div>
    <a class="list-group-item"
       ng-href="{{data.BasesConvocatoria_EN}}"
       target="_blank"
       ng-class="{'not-active' : !data.BasesConvocatoria_EN}">
        <i class="fa fa-fw fa-flag-o" aria-hidden="true"></i>&nbsp; Calls
    </a>
    <a class="list-group-item"
       ng-href="{{data.Teaser_EN}}"
       ng-class="{'not-active' : !data.Teaser_EN}"
       rel="prettyPhoto" on-last-repeat>
        <i class="fa fa-fw fa-film" aria-hidden="true"></i>&nbsp; Teaser
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.Logotipo_EN}"
       ng-href="{{data.Logotipo_EN}}"
       rel="prettyPhoto" on-last-repeat>
        <i class="fa fa-fw fa-picture-o" aria-hidden="true"></i>&nbsp; Logo
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.ManualGrafico_EN}"
       ng-href="{{data.ManualGrafico_EN}}"
       target="_blank">
        <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Graphic Manual
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.Catalogo_EN}"
       ng-href="{{data.Catalogo_EN}}"
       target="_blank">
        <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>&nbsp; Brochure
    </a>
</div>