<div>
	<div class="eco-gallery">
		<div ng-repeat="item in data" class="eco-gallery-item" ng-show="item.visible" on-last-repeat>
			<a ng-href="{{item.Image}}" rel="prettyPhoto">
				<img ng-src="{{item.Image}}" class="attachment-full" draggable="false"/>
			</a>
		</div>
	</div>
</div>