<div class="epe-list-group">
    <div class="list-group-item centered-text" ng-if="data.Logotipo_ES">
        <img ng-src="{{data.Logotipo_ES}}" alt="Logotipo" class="centered-text epe-edlogo">
    </div>
    <div class="list-group-item">
        <div class="wpb_wrapper">
            <vd-edition-slider data="data.Galeria" timer="5000"></vd-edition-slider>
        </div>
    </div>
    <a class="list-group-item"
       ng-href="{{data.BasesConvocatoria_ES}}"
       target="_blank"
       ng-class="{'not-active' : !data.BasesConvocatoria_ES}">
        <i class="fa fa-fw fa-flag-o" aria-hidden="true"></i>&nbsp; Bases de Convocatoria
    </a>
    <a class="list-group-item"
       ng-href="{{data.Teaser_ES}}"
       ng-class="{'not-active' : !data.Teaser_ES}"
       rel="prettyPhoto" on-last-repeat>
        <i class="fa fa-fw fa-film" aria-hidden="true"></i>&nbsp; Teaser
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.Logotipo_ES}"
       ng-href="{{data.Logotipo_ES}}"
       rel="prettyPhoto" on-last-repeat>
        <i class="fa fa-fw fa-picture-o" aria-hidden="true"></i>&nbsp; Logotipo
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.ManualGrafico_ES}"
       ng-href="{{data.ManualGrafico_ES}}"
       target="_blank">
        <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Manual Gráfico
    </a>
    <a class="list-group-item"
       ng-class="{'not-active' : !data.Catalogo_ES}"
       ng-href="{{data.Catalogo_ES}}"
       target="_blank">
        <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>&nbsp; Catálogo
    </a>
</div>