<div class="row">

    <div class="col col-xs-12">

        <img ng-src="{{item.Image}}" style="float: left;">

        <h2>{{item.Descripcion}}</h2>

        <p style="white-space: pre-line;" class="epe-info">{{item.Informacion_ES}}</p>

        <div ng-if="false">

            <code>item</code><br>
            <pre>{{item | json}}</pre>

        </div>

    </div>

</div>