<div style="padding-top: 0px; padding-bottom: 0px; ">
    <div class="col span_12 dark left" ng-show="loading">
        <!-- loader -->
        <center class="fade">
            <h5>
                <i class="icon-refresh icon-spin icon-medium" style=" color: white!important; "></i><br/>
                <span style=" font-weight: 300; font-family: 'Open Sans'; ">loading ...</span>
            </h5>
        </center>
        <!--/loader -->
    </div>
    <div class="col span_12 dark left">

        <div class="vc_col-sm-9 wpb_column column_container col no-extra-padding instance-7" data-bg-cover=""
             data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg=""
             data-hover-bg-opacity="1" data-animation="" data-delay="0">
            <div class="wpb_wrapper">

                <h6><span class="epe-txt-color-1">{{data.Nombre_ES}}</span></h6>
                <h2 class="epe-title">{{data.Tema_ES}} <span>( {{data.Id}} )</span></h2>
                <hr class="epe-hr11">

                <div class="wpb_row vc_row-fluid vc_row standard_section"
                     style="padding-top: 0px; padding-bottom: 0px; ">
                    <div class="col span_12  ">
                        <div class="vc_col-sm-6 wpb_column column_container col no-extra-padding instance-8"
                             data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                             data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="center">
                                    <img height="100%" width="100%"
                                         src="http://ecofilmfestival.org/wp-content/uploads/2014/03/ECOFILM_FESTIVAL-01.png"
                                         alt="">
                                </div>
                            </div>
                        </div>

                        <div class="vc_col-sm-6 wpb_column column_container col no-extra-padding instance-9"
                             data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                             data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <p class="epe-info">{{data.Info_ES}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_wrapper">
                    <center>
                        <a class="nectar-button small extra-color-2 regular-button" href="#/winners"
                           style="visibility: visible;"
                           ng-show="data.Ganadores.length > 0"><span>GANADORES</span>
                        </a>
                        <a class="nectar-button small extra-color-2 regular-button" href="#/sel-oficial"
                           style="visibility: visible;"
                           ng-show="data.SeleccionOficial.length > 0"><span>SELECCIÓN OFICIAL</span>
                        </a>
                        <a class="nectar-button small extra-color-2 regular-button" href="#/jury"
                           style="visibility: visible;"
                           ng-show="data.Jurado.length > 0"><span>JURADO</span>
                        </a>
                        <a class="nectar-button small extra-color-2 regular-button" href="#/gallery"
                           style="visibility: visible;"
                           ng-show="data.Galeria.length > 0"><span>GALERÍA</span>
                        </a>
                    </center>
                    <hr class="epe-hr11">
                    <div id="marker01" ui-view class="fade"></div>
                    <div style="height:30px; clear: both;"></div>
                    <hr class="epe-hr11">
                </div>
            </div>
        </div>

        <div class="vc_col-sm-3 wpb_column column_container col no-extra-padding instance-10" data-bg-cover=""
             data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg=""
             data-hover-bg-opacity="1" data-animation="" data-delay="0">
            <div class="wpb_wrapper">
                <vd-edition-detail data="data"></vd-edition-detail>
            </div>
        </div>
    </div>
</div>