<div>
	<h1 class="epe-title text-center">JURADO</h1>
	<div ng-repeat="item in data track by $index" ng-switch="$index%3">
		<div class="row" ng-switch-when="0">
			<div class="vc_col-sm-4 wpb_column column_container col one-fourths clear-both display-jury-col"
				 ng-click="activeJurado(data[$index + 0])" ng-if="($index + 0) < data.length">
				<div class="wpb_wrapper">
					<div class="display-jury">
						<img ng-src="{{data[$index + 0].Image}}"/>
						<h1>{{data[$index + 0].Descripcion}}</h1>
					</div>
				</div> 
			</div>
			<div class="vc_col-sm-4 wpb_column column_container col one-fourths clear-both display-jury-col"
				 ng-click="activeJurado(data[$index + 1])" ng-if="($index + 1) < data.length">
				<div class="wpb_wrapper">
					<div class="display-jury">
						<img ng-src="{{data[$index + 1].Image}}"/>
						<h1>{{data[$index + 1].Descripcion}}</h1>
					</div>
				</div> 
			</div>
			<div class="vc_col-sm-4 wpb_column column_container col one-fourths clear-both display-jury-col"
				 ng-click="activeJurado(data[$index + 2])" ng-if="($index + 2) < data.length">
				<div class="wpb_wrapper">
					<div class="display-jury">
						<img ng-src="{{data[$index + 2].Image}}"/>
						<h1>{{data[$index + 2].Descripcion}}</h1>
					</div>
				</div> 
			</div> 
		</div>
	</div>
</div>