<div>
  <h1 class="epe-title text-center">SELECCIÓN OFICIAL</h1>
	<!-- filtros -->
        <div class="row fade" ng-show="!loading" >
          <div class="col span_4">
            <div class="input-label ecof15_label">
              FILTRAR POR CATEGORÍA
            </div>
            <select ng-model="filterSelOf.Categoria" ng-options="option.Categoria_ES as option.Categoria_ES for option in listFilterCategorias">
              <option value>-- Todos --</option>
            </select>
          </div>
          <div class="col span_4">
            <div class="input-label ecof15_label">
              FILTRAR POR NACIONALIDAD
            </div>
            <select ng-model="filterSelOf.Nacionalidad" ng-options="option.Nacionalidad_ES as option.Nacionalidad_ES for option in listFilterNacionalidad">
              <option value>-- Todos --</option>
            </select>
          </div>      
        </div>
        <!--/filtros -->
	<div class="row">
		<div class="col span_12">

            <table class="table ecof15_table">
              <thead>
                <tr>
                  <th>Categoría</th>
                  <th>Titulo</th>
                  <th>Dirección</th>
                  <th>Nacionalidad</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in dataFilter">
                  <td>{{item.Categoria_ES}}</td>
                  <td style="font-weight:900;">
                    {{ item.Titulo_ES }}<br/>                    
                  </td>
                  <td>{{item.DirectorCorto_ES }}</td>
                  <td>{{item.Nacionalidad_ES}}</td>                                    
                </tr>
              </tbody>
            </table>
          </div>
	</div>
	
</div>