<div>	
  <h1 class="epe-title text-center">OFFICIAL SELECTION</h1>
	<!-- filtros -->
        <div class="row fade" ng-show="!loading" >
          <div class="col span_4">
            <div class="input-label ecof15_label">
              FILTER BY CATEGORY
            </div>
            <select ng-model="filterSelOf.Categoria" ng-options="option.Categoria_EN as option.Categoria_EN for option in listFilterCategorias">
              <option value>-- All --</option>
            </select>
          </div>
          <div class="col span_4">
            <div class="input-label ecof15_label">
              FILTER BY NATIONALITY
            </div>
            <select ng-model="filterSelOf.Nacionalidad" ng-options="option.Nacionalidad_EN as option.Nacionalidad_EN for option in listFilterNacionalidad">
              <option value>-- All --</option>
            </select>
          </div>      
        </div>
        <!--/filtros -->
	<div class="row">
		<div class="col span_12">

            <table class="table ecof15_table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Director</th>
                  <th>Nationality</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in dataFilter">
                  <td>{{item.Categoria_EN}}</td>
                  <td style="font-weight:900;">
                    {{ item.Titulo_EN }}<br/>                    
                  </td>
                  <td>{{item.DirectorCorto_EN }}</td>
                  <td>{{item.Nacionalidad_EN}}</td>                                    
                </tr>
              </tbody>
            </table>

          </div>
	</div>
	
</div>