<div>
	<h1 class="epe-title text-center">GANADORES</h1>
					<div class="row fade" ng-show="!loading">
						<div class="col span_12 dark left">
							<div class="vc_col-sm-12 wpb_column column_container col no-extra-padding instance-0" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">

								<div class="wpb_wrapper">
								<div style="height: 40px;" class="divider"></div>

								<div class="portfolio-wrap ">
									<div class="row portfolio-items " data-col-num="cols-3" instance="0" style="">
										<!-- portfolio-content -->									

										<div 
											class="col span_4  element cat_{{obj.Categoria.Id}} " 
											data-project-cat="cat_{{obj.Categoria.Id}} " 
											data-project-color="{{colores[obj.Categoria.Id-1]}}" 
											data-title-color="" 
											data-subtitle-color="" 
											data-ng-repeat="obj in data track by $index" 
											winners-items 
											>						

											<div class="work-item style-4" data-custom-content="" style="opacity: 1;">												
												<img width="600" height="403" ng-src="{{obj.host_img + obj.directory_imagen + obj.Poster}}" class="attachment-portfolio-thumb wp-post-image" alt="spacebound-wide" title="" style="top: 0px;">

												<div style="" class="winner_resume">
														<div class="winner_des"><i class="fa fa-trophy"></i>&nbsp;{{ obj.Lugar_Descripcion }}</div>
														<div class="winner_cat" style="background-color:{{colores[obj._class]}};">{{ obj.Categoria }}</div>
														<div class="winner_dir">{{ obj.Director }}</div>
														<div class="winner_nac">{{ obj.Nacionalidad }}</div>
													</div>

												<div class="work-info" style="opacity: 0;">																						

													<div class="bottom-meta" style="background-color:{{colores[obj._class]}};">
														
														<div class="row ecof-no-padding ecof-no-margin ecof-no-bg">
															<div class="col span_12 ecof-no-padding ecof-no-margin ecof-no-bg">
																	
																	<!-- open-detail-fancybox -->																	
																	<h3>{{obj.Nombre}}</h3>
																	<p>{{obj.Lugar_Descripcion}}</p>
																	<a class="open-detail-fancybox button"
																	id="{{obj.mp4_hd}}"
																	title="{{obj.Nombre}}"
																	data-media="{{ obj.host + '' + obj.directory + '' + obj.mp4_hd }}" >
																		<i class="fa fa-film fa-2x icon-film"></i>
																	</a>
																	<!--/open-detail-fancybox -->

															</div>
														</div>
													</div><!--/bottom-meta-->		

													<div style=" width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid {{colores[obj._class]}}; margin: 0 auto; "></div>
													

												</div>

											</div><!--work-item-->
										</div>
										
										<!--/portfolio-content -->
									</div><!--/portfolio-->
								</div><!--/portfolio wrap-->

							</div><!--/wpb_wrapper-->
						</div><!--/vc_col--> 						
					</div><!--/col-->
</div>