#basic-playlist{/* player (and playlist) background */background:#333 url("http://ecofilmfestival.org/wp-content/uploads/2014/04/azul-1920x1080pt.jpg");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
#basic-playlist.is-loading{/* override background image when clip changes */background:#333}
#basic-playlist.is-splash .fp-prev,#basic-playlist.is-splash .fp-next{display:none}
#basic-playlist .fp-prev,#basic-playlist .fp-next{/* next and prev buttons */position:absolute;top:44%;cursor:pointer;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;background:url("http://flowplayer.org/media/img/demos/playlist/buttons.png");opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);height:20px;width:12px;}
.is-mouseover#basic-playlist .fp-prev,.is-mouseover#basic-playlist .fp-next{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
#basic-playlist .fp-prev{left:-20px;background-position:0 -200px;}
#basic-playlist .fp-prev:hover{background-position:0 -300px}
#basic-playlist .fp-next{right:-20px;background-position:0 -400px;}
#basic-playlist .fp-next:hover{background-position:0 -500px}
#basic-playlist .fp-playlist{/* the playlist root element */position:absolute;bottom:-135px;left:0;width:100%;text-align:center;}
#basic-playlist .fp-playlist a{/* playlist entry */display:inline-block;width:100px;height:100px;margin:0 10px;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;border:4px solid #fff;background:url("http://flowplayer.org/media/img/demos/playlist/thumbs.jpg") -1px -1px no-repeat;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#basic-playlist .fp-playlist a:hover{border-color:#ccc}
#basic-playlist .fp-playlist a.is-active{border-color:#52b9e4;}
.is-paused#basic-playlist .fp-playlist a.is-active{border-color:#1c87b4}
#basic-playlist .fp-playlist .itemX{background-position:-197px -1px}
#basic-playlist .fp-playlist .item2{background-position:-197px -1px}
#basic-playlist .fp-playlist .item3{background-position:-393px -1px}
#basic-playlist .fp-playlist .item4{background-position:-589px -1px}
#event-info{background-color:#333;font-family:monaco,monospace;max-width:200px;margin:150px auto 0;color:#eee;padding:10px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);font-size:14px;}
#event-info p{margin:0}
#basic-playlist > video {visibility: visible!important;}
@media (max-width: 570px){#basic-playlist .fp-playlist{bottom:-90px;}
#basic-playlist .fp-playlist a{width:55px;height:55px}

