@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


.film-cat {
	color: white;
	background: rgba(0,0,0,.8);
	font-family: 'Coda', cursive;
	font-size: .7em;
	padding: 0 1em;
	position: absolute;
	left: -.7em;
	top: 35.5%;
}

.film-dir {
	color: #f2c865;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.1em;
	padding: 1.5em 1.5em 0 1.5em;
	text-align: justify;
}

.film-sin {
	color: #C9C9C9;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
	padding: .5em 1.5em 1.5em 1.5em;
	text-align: justify;
}

.film-title {
	color: white;
	background: rgba(226,0,122,.9);
	font-family: 'Coda', cursive;
	font-size: 1.2em;
	left: -.4em;
	line-height: 1.8em;
	padding: 0 1em;
	position: absolute;
	top: 50%;
}

.img-prog-cl {
	opacity: 1;
	width: 200px!important;
	border-radius: 100px;
	border: solid 5px rgb(204, 204, 204);
	height: 200px!important;
}

.prog-cont { 
	color: #8D8D8D;
	font-family: 'Open Sans', sans-serif;
	line-height: 2em;
	font-size: 1.5em;
}

.prog-cont-alt { 
	color: #FFFFFF;
	background: #A5A5A5;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	line-height: 2em;
	padding: .1em .6em;
}

.prog-cont-izq {
	background-image: url('http://ecofilmfestival.org/wp-content/uploads/2013/02/bg-hive-011.png');
	background-position: 0% 73%;
	background-repeat: no-repeat;
	background-size: inherit;
	margin-bottom: 1px!important;
	width: 100%;
}

.prog-connector {
	border-bottom: 20px solid transparent;
	border-right: 20px solid rgb(255, 255, 255);
	border-top: 0px solid transparent;
	height: 0px;
	position: absolute;
	right: 0;
	top: 0;
	width: 0px;
}

.prog-connector-izq {
	border-bottom: 20px solid transparent;
	border-left: 20px solid rgb(255, 255, 255);
	border-top: 0px solid transparent;
	height: 0px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
}

.prog-col {
	margin-right: 0px;
}

.prog-date { 
	color: #FFFFFF;
	background: #EC6761;
	border-radius: 5px;
	font-family: 'Nova Mono', Arial;	
	font-size: 2em;
	line-height: 2em;
	padding: 0 .5em;
}

.prog-details {
	background-color: #fdfdfd;
	padding: 1.5em;
	border-radius: .5em;
	text-align: center;
}

.prog-details-title {
	font-family: 'Coda', cursive;
	font-size: 3em;
	line-height: 1em;
}

.prog-h1 { 
	color: #E33983; 
	font-family: 'Nova Mono', Arial;
	font-size: 2em;
	line-height: 1em;
}

.prog-row {
	background-color: rgba(24, 24, 24, 1);
}

.prog-time { 
	color: #636363;
	font-family: 'Nova Mono', Arial;
	line-height: 1em;
	font-size: 2em;
}

.still-container {
	height: 150px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 1px!important;
	width: 100%;
}

.toggle h3 a {
	display: block;
	color: #888888;
	letter-spacing: 0px;
	font-size: 12px!important;
	line-height: 14px!important;
	padding: 14px 14px 16px 43px;
	font-family: 'OpenSansRegular';
	background-color: rgba(0,0,0,0.045);
	transition: all 0s linear;
	-moz-transition: all 0s linear;
	-webkit-transition: all 0s linear;
	-o-transition: all 0s linear;
}

.toggle.open h3 a {
	background: rgb(36, 36, 36)!important;
	border-bottom: solid #EC6761 1em;
}

.toggle h3 a i {
	position: absolute;
	left: 13px;
	background-color: transparent;
	color: #888888;
	top: 43%;
	width: 18px;
	height: 16px!important;
	line-height: 18px!important;
	font-size: 15px;
	transition: all 0s linear;
	-moz-transition: all 0s linear;
	-webkit-transition: all 0s linear;
	-o-transition: all 0s linear;
}

@media (max-width: 1001px) {
	.evento > :first-child {
		padding-right: 38px!important;
	}
	.toggle h3 a i ,
	.prog-connector-izq { display: none; }
}