/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*html { height: 100%; }*/

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;*/
}

/*a {
	color: #555;
	text-decoration: none;
}*/

.container-grid {
	width: 100%;
	position: relative;
}

.container-grid > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container-grid > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.container-grid > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.container-grid > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.container-grid > div > ul.og-grid {
	margin-left: 0;
}
