.lugar-1{
	position: absolute; 
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;
	background: url(./img/1-lugar.png) no-repeat;
}

.lugar-2{
	position: absolute; 
	background: url(./img/2-lugar.png) no-repeat;
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;	
}

.lugar-3{
	position: absolute; 
	background: url(./img/3-lugar.png) no-repeat;
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;	
}

.lugar-beca{
	position: absolute; 
	background: url(./img/beca.png) no-repeat;
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;	
}

.lugar-inscrito{
	position: absolute; 
	background: url(./img/inscrito.png) no-repeat;
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;	
}

.lugar-sel-of{
	position: absolute; 
	background: url(./img/sel_of.png) no-repeat;
	height: 35px; 
	width: 35px; 
	top: -5px; 
	left: -5px;	
}

.vg-icon-youtube{
	background: url(./img/logo-youtube.png) no-repeat;
}

.vg-icon-vimeo{
	background: url(./img/logo-vimeo.png) no-repeat;
}

.vg-icon-web{
	background: url(./img/logo-website.png) no-repeat;
}

.vg-ficha-tec{
	background: url(./img/ficha-tec.png) no-repeat;
}

.vg-list-icon span {
	margin-right: 5px;
	height: 25px; 
	width: 25px; 
}
#post-vg-filter {
	margin: 0px!important;
	text-align: right;
}

#post-vg-filter a{
	color:#676767;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	cursor: pointer;
	font-size: smaller;
}

#post-vg-filter li{
	padding: 3px 10px;
	margin: 5px 0px;
	line-height: 14px;
	display: inline-block;	
}

#post-vg-filter .active a{
	padding: 3px 10px;
	background-color: #DE56A3;
	color:white;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#post-vg-filter span.active a
{
	background-color:#333; !important;	
}

#post-vg-filter i{
	color:white !important;
}

.vg-item h2{
	font-size: 20px;
}

.vg-item h2 span{
	font-family: OpenSansRegular;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #999;
	display: block;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.vg-menu-filter{
	right: 5px;
	margin-left: -8px;
	bottom: -15px;
	position: relative;
}

h2.title {
	padding: 10px!important;
	/*background-color: #e33983;*/
	background-color: #723a7c;
	color: #FFFFFF!important;
	margin-top: -15px!important;
}

h2.title>span {	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color: #FFFFFF!important;
	margin-top: -15px;
	border-bottom: 5px dotted #DDDDDD!important;
}

h2.vg-header-animacion {
	padding: 10px!important;
	background-color: #e33983;	
	color: #FFFFFF!important;
	margin-top: -15px!important;
}

h2.vg-header-documental {
	padding: 10px!important;
	background-color: #19487a;	
	color: #FFFFFF!important;
	margin-top: -15px!important;
}

h2.vg-header-ficcion {
	padding: 10px!important;
	background-color: #219fce;	
	color: #FFFFFF!important;
	margin-top: -15px!important;
}

h2.vg-header-campana {
	padding: 10px!important;
	background-color: #5baf64;	
	color: #FFFFFF!important;
	margin-top: -15px!important;
}
/* ------------------------------------- flowplayer */
.flowplayer {			
	/*width: 300px!important;*/
	}		
.article {
	width:300px;
	/*padding: 10px;
	margin: 3px;
	border: 1px #E4E4E4 solid;*/
	}
.article>p {
	text-align: justify; 
	font-weight: normal;
	}
.flow-novid-img {
	width: 100%; 
	height: 172px;
	}
.meta-author,.meta-category {
	color: #8F8F8F;
	font-size: x-small;
	text-align: left;
	}
div.post-header {
	padding-top: 10px;
	}		
.vg-list-icon span {
	margin-right: 5px;
	height: 25px;
	width: 25px;
	display: inline-table;
	}
.post-meta {
	border-top: 1px solid #E6E6E6;
	padding-top: 8px;
	text-align: -webkit-left;
	}		
.post-content-masonry {
	padding: 10px;
	background-color: #FFFFFF;
	}
#overlays {
	margin: 0 auto!important; 
	}
.overlay { 
	width: 300px; 
	margin-bottom: 10px;
	float: left;
	}

.item.w2 { width: 50%; }

#portafolio {
	margin: 0 auto;
}

#masonry-vg-filters {
	margin: 0 auto;
	text-align: right;	
}

#masonry-vg-filters .container > ul li {
padding: 0px 11px;
margin: 7px 0px;
line-height: 14px;
display: inline;
}

#masonry-vg-filters .container > ul li#sort-label {
color: #BFBFBF;
}

#masonry-vg-filters ul li a {
color: #999;
}

#masonry-vg-filters ul li a {
color: #999;
}

#masonry-vg-filters ul li a:hover {
	color: #67B18D;
}

#masonry-vg-filters #current-category {
color: #C6C6C6;
font-family: 'Open Sans';
font-size: 1.8em;
position: relative;
text-transform: none;
top: auto;
padding-left: 0px;
float: left;
} 

#masonry-vg-filters > div > ul > li > a.active {
color: #DE56A3!important;
}