@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.link-bg1 { background: rgba(227, 27, 35, 0.86); }
.link-bg2 { background: transparent; }
.link-bg3 { background-color: rgb(11, 141, 171); }
.link-bg4 { background: rgba(16, 140, 182, 0.88); }
.link-bg5 {
  background: -webkit-linear-gradient(45deg, rgb(41, 36, 36), rgb(41, 38, 38)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, rgb(41, 36, 36), rgb(41, 38, 38)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, rgb(41, 36, 36), rgb(41, 38, 38)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, rgb(41, 36, 36), rgb(41, 38, 38)); /* Standard syntax (must be last) */
  width: 100%;
  height: 100%;
  display: block!important;
}

.link-base>.link-data1 {
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  /* background: rgba(227, 27, 35, 0.86); */
  color: white;
  display: block;
  padding: 1em;
  bottom: initial;
  position: absolute;
  bottom: 0;
  font-size: small;
  width: 100%;
  /* height: inherit; */
}

.link-base>.link-data2 {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  color: rgb(56, 181, 229);
  display: block;
  background: black;
  position: absolute;
  bottom: 0;
  height: 0em;
  width: 100%;
  padding: 0;
  font-size: 1.5em;
  overflow: hidden;
}

.link-base>.link-data2-alt {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition: .2s;
  color: rgb(56, 181, 229);
  display: block;
  background: transparent;
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: .5em 0;
  font-size: 1em;
  overflow: hidden;
}

.link-base>.link-data3 {
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  /* background: rgba(227, 27, 35, 0.86); */
  color: white;
  display: block;
  padding: 1em;
  bottom: initial;
  position: absolute;
  top: 0;
  font-size: small;
  width: 100%;
  /* height: inherit; */
}

.link-base:hover>.link-data1 {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  bottom: +3.5em;
}

.link-base:hover>.link-data2 {
  height: 3em;
}

.link-base:hover>.link-data3 {
  /*background: rgba(0, 0, 0, 1);*/
  color: rgba(255, 255, 255, 1);
}


.link-base {
  text-align:center;
  display: inline;
  cursor: pointer;
}

.grayscale
{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}

.grayscale:hover div
{
	filter: grayscale(.7);
	-webkit-filter: grayscale(.7);
	-moz-filter: grayscale(.7);
	-o-filter: grayscale(.7);
	-ms-filter: grayscale(.7);
}

.clima-data {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background: rgba(0, 156, 208, 0.8);
  color: white;
  display: block;
  padding: 1em;
  bottom: 1em;
  position: absolute;
  right: 1em;
  text-align: right;
  font-size: small;
}

.clima-data .sat {
  color: rgb(215, 215, 215);
  font-size: .8em;
}

.clima-data .sat-sub {
  color: rgb(255, 255, 255);
  font-size: .8em;
}

.clima-data .sat-sub2 {
  display: block;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
.eco-metro {
  /*background: url(http://ecofilmfestival.org/wp-content/uploads/2014/05/ba-bg-018.jpg);*/
  /*background: url(http://ecofilmfestival.org/wp-content/uploads/2015/03/ba-bg-0021.jpg);*/
  background: #000000!important;
}

.eco-metro figure {
	float: left;
	/*background: #17A781;*/
  background: #353535;
	width: 20%;
	height: 159px;
	margin: 0px 0px;
}
.eco-metro .item-w2 {
	width: 40%;
	background: #352535;
}
.eco-metro .item-h2 {
	height: 322px;
	background: #353525;
}
.eco-metro .item-h3 {
	height: 485px;
	background: #253535;
}

.eco-weather-icon {
  width: 50px;
  display: block;
  margin: auto;
}

.weather-icon-container {
  float:left;
  width:25%;
}

.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

.weather {
  background: rgba(0,0,0,.7)!important;
  color: white;
  display: inline-table;
}

.weather-title {
  float: right;
  width:75%;
  color: rgb(255, 168, 80);
  /*background-color: rgba(0,0,0,.3);*/
}

.weather-title-1 {
  float: left;
  width:25%;
  color: rgb(201, 201, 201);
  /*background-color: rgba(0,0,0,.3);*/
}

.weather-title-2 {
  float: right;
  width:75%;
  font-size: xx-small;
  color: rgb(156, 156, 156);
}

.weather-title-3 {
  float: right;
  width: 75%;
  font-size: small;
  color: rgb(124, 152, 162);
}

.weather-val {
  width:75%;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 300;
  color: rgb(227, 27, 67);
}

.weather-val-1 {
  font-size: 2em;
  line-height: 1em;
  color: white;
}

figcaption {
    padding: .4em;
    display: table-cell;
    vertical-align: middle;
}

figcaption.climamx-visible {
  background: url(http://smn.cna.gob.mx/satelite/goesE/x4/loop.gif);
  top: 153px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 100%;
}

div.link-container1 {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;

  position: absolute;
  height: 100%;
  background-size: cover;
  background-position-y: 0em;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.link-base:hover>div.link-container1 {
  background-position-y: -4em;
	-webkit-filter: blur(3px);
	box-shadow: inset 0px 0px 30px rgba(0,0,0,.9);
}

.bg1 { background: url(http://ecofilmfestival.org/wp-content/uploads/2015/04/metro-01-500x500.jpg); }
.bg2 { background: url(http://ecofilmfestival.org/wp-content/uploads/2015/04/metro-02-500x500.jpg); }
.bg3 { background: url(http://ecofilmfestival.org/wp-content/uploads/2015/04/metro-03-500x250.jpg); }
.bg4 { background: url(http://ecofilmfestival.org/wp-content/uploads/2015/04/metro-05-500x250.jpg); }
.bg5 { background: url(http://ecofilmfestival.org/wp-content/uploads/2015/03/reel-holder-3.jpg); }

.eco-not-container {
  /*padding: 0 .5em;*/
  display: table-cell;
}


.eco-not-icon {
  display: block;
  float: left;
  color: rgb(255, 255, 255);
  font-size: 0.5em;
  width: 25%;
  margin-top: 15%;
}

.eco-not-title {
  display: block;
  float: right;
  color: rgb(239, 239, 239);
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  width: 75%;
  font-weight: 300;
  text-align: left;
}

.eco-not-fuente {
  font-size: 0.7em;
  font-family: sans-serif;
  color: rgb(184, 184, 184);
}
